---
title: Architecture
---

![Cloud Foundry Architecture](/images/cf_architecture.png)

<ul>
<% for page in current_page.children %>
  <li><%= link_to page.data.title, page.url %> - <%=page.data.description%></li>
<% end %>
</ul>

