[receive]
	requireChangeId = true
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Dev Rel Team
	label-Code-Review = -2..+2 group cloudfoundry-websites_committers
	label-Verified = -1..+1 group Dev Rel Team
	label-Verified = -1..+1 group Registered Users
	label-Verified = -1..+1 group cloudfoundry-websites_committers
[access "refs/*"]
	owner = group Administrators
