---
title: Services Marketplace
---

Cloud Foundry Services are add-ons which can be provisioned alongside your application. Services might be used directly by your app, such as a data store, but can be anything that requires provisioning, such as an account on a third party SaaS.

## <a id='users'></a>For Users ##

### <a id='managing'></a>Managing Services ###

Services can be managed from our web console or using our CLI.

* [Managing Services from the Command Line](/docs/using/services/managing-services.html)
* [Tunnelling with Services](/docs/using/services/tunnelling-with-services.html)

### <a id='marketplace'></a>Marketplace Services ###
Here we provide documentation specific to services available on CloudFoundry.com.

<ul>
  <% for page in current_page.children.select { |x| x.data.category == "marketplace"}.sort_by {|x| x.data.title} %>
  <li><%= link_to page.data.title, page.url %></li>
<% end %>
</ul>

### <a id='support'></a>Support ###

<ul>
  <% for page in current_page.children.select { |x| x.data.category == "support"}.sort_by {|x| x.data.title} %>
  <li><%= link_to page.data.title, page.url %></li>
<% end %>
</ul>

## <a id='providers'></a>For Service Providers ##

* [Provider Documentation](providers.html)
