---
title: Service Providers
---

## <a id='announcements'></a>Announcement List ##

Join the [Cloud Foundry Partners](https://groups.google.com/forum/?hl=en&fromgroups#!forum/cloud-foundry-partners) Google Group to receive announcements regarding integration with Cloud Foundry.

## <a id='integration'></a>Integrating With AppDirect ##

Pivotal has partnered with AppDirect for marketplace services on [Pivotal Web Services](https://console.run.pivotal.io), Pivotal's Public Cloud Foundry instance. Service providers interested in adding their service to the Pivotal CF Marketplace should contact [Nima Badiey](mailto:nbadiey@gopivotal.com). 

Documentation on AppDirect's API for Cloud Foundry can be found here:
http://info.appdirect.com/developer/docs/cloud-foundry/

## <a id='binding-credentials'></a>Binding Credentials ##

See [Binding Credentials](../../../running/architecture/services/binding-credentials.html).

## <a id='documentation'></a>Documentation ##

Documentation is hosted for each service in the PWS marketplace [here](http://docs.cloudfoundry.com/docs/dotcom/marketplace/services/). Service providers can manage their own documentation by making Github pull requests to [this repo](https://github.com/cloudfoundry/cf-docs/tree/master/source/docs/dotcom/marketplace/services).

[A template is provided to get you started](provider-template.html). Please include the Managing Services and Support sections with links included; feel free to add additional information as appropriate. If your service is bindable, you should include the section on Environment Variables. 

Before Pivotal can accept pull requests, provider must submit a signed Contributors License Agreement. A CLA can be submitted for [an individual](http://www.cloudfoundry.org/assets/individualcontribution.pdf) or [for your whole organization](http://www.cloudfoundry.org/assets/corpcontribution.pdf). Send the completed CLA to contributors@cloudfoundry.org. The corporate CLA only covers public members of your github organization. As an example, [here are the public members of the Pivotal org](https://github.com/orgs/pivotal/members).

## <a id='sample-apps'></a>Sample Apps ##

Providing a sample application that works out of the box provides an excellent user experience. Developers can validate that your service works as expected, and the sample app should provide a code example for how to integrate an application with your service. There are two ways we recommend publishing your sample application:

1. You can host your sample app in your own repo, and we can fork it into https://github.com/cloudfoundry-samples
2. You can send us the code for your app and we can add a new repo to https://github.com/cloudfoundry-samples


